@import "../../../style/__vendor.styl"

TRANSITION_FUNCTION = ease-out
TRANSITION_TIME     = 300ms

[data-molecule="carousel"]
  margin: 0
  padding: 0
  width: 100%

  &.big
    position: absolute
    height: 100%
  &.small
    height: 128px
  &.tiny
    height: 96px
  &:not(.big):not(.small):not(.tiny)
    height: 192px

  & > [data-atom="index"]
    z-index: 2
    position: absolute
    bottom: 0px
    width: 100%
    padding: .2rem 0
    text-align: center

    & > span
      position: relative
      display: inline-block
      width: SIZE = 8px
      height: SIZE
      margin: 0 .1rem
      border-radius: 50%
      background-color: WHITE
      opacity: 0.5
      &.active
        opacity: 1

  & > *:not([data-atom="index"])
    margin: 0
    padding: 0
    position: absolute
    width: 100%
    height: 100%
    background-size: cover
    background-color: #ddd
    display-box()
    box-align(center)
    box-pack(center)
    .icon
      display: block
      font-size: SIZE = 3rem
      width: SIZE
      height: SIZE
      animation figure-loading 1.6s infinite linear
      transform-origin: 50% 50%
      color: WHITE

    &:not([data-carousel-position]):not([data-carousel-transition])
      visibility: hidden

    &[data-carousel-transition]
      vendor(transition, all TRANSITION_TIME TRANSITION_FUNCTION)

    &[data-carousel-transition="restoring"]
      vendor(transform, translateX(0))

    &[data-carousel-position="previous"]
      left: -100%
      &[data-carousel-transition="current"]
        vendor(transform, translateX(100%))

    &[data-carousel-position="current"]
      left: 0
      &[data-carousel-transition="next"]
        vendor(transform, translateX(-100%))
      &[data-carousel-transition="previous"]
        vendor(transform, translateX(100%))

    &[data-carousel-position="next"]
      left: 100%
      &[data-carousel-transition="current"]
        vendor(transform, translateX(-100%))
