@import "../../../components/CSSmethods/vendor.styl"

TRANSITION_FUNCTION = ease-out
TRANSITION_TIME     = 300ms

[data-molecule="carousel"]
  margin: 0
  padding: 0
  width: 100%

  &.big
    position: absolute
    height: 100%
  &.small
    height: 128px
  &.tiny
    height: 96px
  &:not(.big):not(.small):not(.tiny)
    height: 192px

  & > [data-atom="index"]
    z-index: 2
    position: absolute
    bottom: 0px
    width: 100%
    padding: .2rem 0
    text-align: center

    & > span
      position: relative
      display: inline-block
      width: SIZE = 8px
      height: SIZE
      margin: 0 .1rem
      border-radius: 50%
      background-color: WHITE
      opacity: 0.5
      &.active
        opacity: 1

  & > *:not([data-atom="index"])
    margin: 0 !important
    padding: 0 !important
    position: absolute !important
    width: 100% !important
    height: 100% !important
    background-size: cover

    &:not([data-carousel-position]):not([data-carousel-transition])
      visibility: hidden !important

    &[data-carousel-transition]
      vendor(transition, all TRANSITION_TIME TRANSITION_FUNCTION !important)

    &[data-carousel-transition="restoring"]
      vendor(transform, translateX(0) !important)

    &[data-carousel-position="previous"]
      left: -100% !important
      &[data-carousel-transition="current"]
        vendor(transform, translateX(100%) !important)

    &[data-carousel-position="current"]
      left: 0 !important
      &[data-carousel-transition="next"]
        vendor(transform, translateX(-100%) !important)
      &[data-carousel-transition="previous"]
        vendor(transform, translateX(100%) !important)

    &[data-carousel-position="next"]
      left: 100% !important
      &[data-carousel-transition="current"]
        vendor(transform, translateX(-100%) !important)
